@using FirstApp.Models
@{
    ViewData["Title"] = "Detail";
    Student std = ViewBag.Student;
}

<h1>Student detail</h1>
<h2>FullName: @std.FullName</h2>
<h2>Point: @std.Point</h2>


@*<h1>Detail</h1>
<h2>ViewData Id: @ViewData["Id"]</h2>
<h2>ViewBag Id: @ViewBag.Id</h2>
<h2>TempData Id: @TempData["Id"]</h2>*@




